<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.socialmediaapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SocialMediaApp">
        <activity
            android:name=".startup.SignUpBasicInfoActivity"
            android:theme="@style/Theme.SocialMediaApp.Startup" >

        </activity>

        <activity
            android:name=".startup.SignUpInfoActivity"
            android:theme="@style/Theme.SocialMediaApp.Startup">

        </activity>
        <activity
            android:name=".startup.SignUpActivity"
            android:theme="@style/Theme.SocialMediaApp.Startup" />
        <activity
            android:name=".startup.LoginActivity"
            android:theme="@style/Theme.SocialMediaApp.Startup" >

        </activity>
        <activity android:name=".AboutMeActivity" />
        <activity android:name=".CreatePost">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignInActivity" />
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.SocialMediaApp.MainDarkTheme"/>
    </application>

</manifest>